CMakeLists.txt.user
CMakeLists.txt.user*
out

CMakeUserPresets.json
build
.idea
.Rproj.user

style.rst

.codechecker

infer-out

vcpkg_installed
vcpkg
vcpkg_cache

tools
ninja-build/ninja

dist

build_log.txt
test_log.txt
tidy_log.txt

# Doxygen intermediate XML
docs/api/xml/

# Doxybook2 generated Markdown
docs/api_generated/

# Quarto build artifact
.quarto/
_site/

docs/site_libs/