CMakeLists.txt.user
CMakeLists.txt.user*
out

CMakeUserPresets.json
build
.idea
.vscode/
.vs/
.Rproj.user

style.rst

.codechecker

infer-out

vcpkg_installed
vcpkg
vcpkg_cache
vcpkg-overlays

tools
ninja-build/ninja

dist
third_party/
